<ion-view view-title="New entity">
  <ion-content>
    <div class="im-wrapper">
      <h4 class="border-top">
        <i class="icon ion-ionic"></i>
        Ionic + Material Expansion
      </h4>
      </div>
    <div class="im-wrapper">
      <h4 class="border-top">
        <i class="icon ion-ionic"></i>
        Ionic + Material Expansion
      </h4>
      </div>
    <div class="im-wrapper">
      <h4 class="border-top">
        <i class="icon ion-ionic"></i>
        Ionic + Material Expansion
      </h4>
      </div>
    </ion-content>
  </ion-view>

